---
import BaseLayout from '../layouts/BaseLayout.astro';
const title = 'News Blog';
const newsUpdates = await Astro.glob('../content/news/*.md');

const sortedNewsUpdates = Object.values(newsUpdates).sort(
    (a, b) => {
        const dateA = new Date(b.frontmatter.date).getTime();
        const dateB = new Date(a.frontmatter.date).getTime();

        return dateB - dateA;
    }
);
import BlogHeader from '../BalkyImages/dune-colorful-fullsize.jpg'
---
<style>
    h1{
        margin-left: 1rem;
    }
    .blogpostTitle{
        font-weight: bold;
    }
    .blogpostframe{
        margin-top: 1rem;
        padding: 1rem;
    }
    .blogpostbox{
        border-color: rgb(15, 15, 15);
        border-width: .13rem;
        border-style: dotted;
        margin-top: 1rem;
        padding: 1rem;
    }
    img{
        object-fit: stretch;
    }
    .imgdiv{
        background-size: 100% 100%;
        min-height: 50vh;
        background: cover;
        background-repeat: no-repeat;
     
        background-image: url('../BalkyImages/dune-colorful-fullsize.jpg');
    }
</style>


<BaseLayout title = {title}>
    <div  class="imgdiv"></div>
   
    <h1 class="blogpostTitle">Latest News</h1>
    <ul class="blogpostframe">
        {sortedNewsUpdates.map((news) => (
        <li class="blogpostbox">
            <h2 class="blogpostTitle">{news.frontmatter.title}</h2>
            <p><small>{news.frontmatter.date}</small></p>
            <div set:html={news.compiledContent()}></div>
            
        </li>
        ))}
    </ul>

</BaseLayout>