---
import '../styles.css';
import Menu from '../components/Menu.astro';

const networks = [
    { imgSrc: 'github.svg', href: 'https://github.com/warthog-network'},    
    { imgSrc: 'discord.svg', href: 'https://discord.com/invite/QMDV8bGTdQ'},
    { imgSrc: 'telegram.svg', href: 'https://t.me/warthognetwork'},
    { imgSrc: 'twitter.svg', href: 'https://x.com/warthognetwork'},    
];
---

<style>
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }
  60% {
    opacity: 1;
    transform: translateY(0rem);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0rem);
  }
}
.expanded {
  display: unset;
}

.logo{
    height: 5rem;
    min-height: 3rem;
  }

.icon{
    height: 2.5rem;
  }

.animate-fadeIn {
  animation: fadeIn .25s ease-out forwards;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 1024px) {

  .desktopMenu {
    margin-left: 5em;
  }

  .desktopMenu a {
    display: inline-block;
    padding: .5rem;
  }
}

@media screen and (max-width: 1023px) {
    .desktopMenu {
      display: none;
    }

    .desktopMenu a {
      display: flex;
      justify-content: center;
    }
}
</style>


<nav class="lg:flex w-full" >
    <a  class="logo animate-fadeIn" href="/"><img class="logo animate-fadeIn" src="/Images/Warthog_2024_Full Logo.svg" alt="logo"/></a>
    <section class="lg:flex w-full justify-between items-center desktopMenu">
        <Menu />

        <div class='lg:flex flex justify-center '>
            {networks.map((network) => (
                <a href={network.href}>
                    <p><img class='icon'  src={'/Images/' + network.imgSrc} alt="logo" /></p>
                </a>
            ))}
        </div>
    </section>
</nav>