---
import '../styles.css';
const links = [
    { name: 'GET STARTED', href: '/getstarted'},
    { name: 'NEWS', href: '/news' },
    { name: 'DOCS', href: 'https://www.warthog.network/docs/', target: '_blank'},
    { name: 'FAQS', href: '/faqs'},
    { name: 'EXPLORER', href: 'https://wartscan.io/', target: '_blank'}
];

const networks = [
    { imgSrc: 'github.svg', href: 'https://github.com/warthog-network'},    
    { imgSrc: 'discord.svg', href: 'https://discord.com/invite/QMDV8bGTdQ'},
    { imgSrc: 'telegram.svg', href: 'https://t.me/warthognetwork'},
    { imgSrc: 'twitter.svg', href: 'https://x.com/warthognetwork'},    
];
---

<style>
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }
  60% {
    opacity: 1;
    transform: translateY(0rem);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0rem);
  }
}
.expanded {
  display: unset;
}

.logo{
    height: 5rem;
    min-height: 3rem;
  }

.navlink{
    height: 2.5rem;
  }

.animate-fadeIn {
  animation: fadeIn .25s ease-out forwards;
}

.underlineText{
  
  justify-content: center;
   border-radius: 4rem;
   
   padding: .5rem;
 }
  
  .underlineText2{  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 4rem;
    position: relative;
  }

  .underlineText2:after {
    
    content: '';
   position: absolute;
   width: 100%;
   height: 0.01rem;
   left: 0;
   bottom: 0;
   background:yellow;
  }

  .drawline::after{
    transform: scale(0,1);
    transition: transform 0.3s ease;
    transform-origin: 0% 100%;
  }

  .drawline::after{
    transform: scale(0,1);
    transition: transform 0.3s ease;
    transform-origin: 0% 100%;
  }

  .drawline:hover::after{
   transform: scale(1,1);
  }

  .expanded {
  display: unset;
}
  @media screen and (min-width: 1024px) {

  .nav-links {
    margin-left: 5em;
  }

  .nav-links a {
    display: inline-block;
    padding: .5rem;
  }
}
</style>


<nav class="lg:flex" >
    <a  class="logo animate-fadeIn" href="/"><img class="logo animate-fadeIn" src="/Images/Warthog_2024_Full Logo.svg" alt="logo"/></a>
    <section class="lg:flex justify-center nav-links">
       
        <div class='lg:flex mt-3 '>
        {links.map((link) => (
                <a class="underlineText"  target={link.target} href={link.href}>
                    <p class="underlineText2 drawline">{link.name}</p>
                </a>
        ))}
        </div>
        <div class='lg:flex lg:top-0 lg:right-0 lg:absolute flex justify-center'>
            {networks.map((network) => (
                <a class="underlineText" href={network.href}>
                    <p class="underlineText2 drawline"><img class='navlink'  src={'/Images/' + network.imgSrc} alt="logo" /></p>
                </a>
            ))}
        </div>
    </section>
</nav>