---
import Astrobar from '../components/AstroBar.astro';
import Hamburger from './Hamburger.astro';
import DropDownMenu from '../components/Menu.astro';
---

<style is:global>
    .mobileMenu {
            display: none;
            width: 100%;
    }

    .mobileMenu .menu {
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    .mobileMenu .menuItem {
        font-size: 14px;
    }

    @media screen and (min-width: 1024px) {
        .siteSidePadding {
            padding-left:4rem;
            padding-right: 5rem; 
        } 
        .siteHeaderVerticalPadding {
            padding-top: .6rem;
            padding-bottom: .6rem;
        }
    }

    @media screen and (max-width: 1023px) {
        .show {
            display: inline-block;
        }
    }
</style>
<div class="siteSidePadding siteHeaderVerticalPadding w-full max-w-[1440px] mx-auto flex justify-between items-center">
    <Astrobar />
    <Hamburger />
</div>
<div class="mobileMenu">
    <DropDownMenu  />
</div>
