---
import Astrobar from '../components/AstroBar.astro';
import Hamburger from './Hamburger.astro';
import DropDownMenu from '../components/Menu.astro';
---

<style is:global>
    .mobileMenu {
            display: none;
            width: 100%;
    }
    
    .mobileMenu .menu {
        display: inline-block;
        width: 100%;
        text-align: center;
        
    }

    .mobileMenu .menuItem {
        font-size: 14px;
    }
    
    @media screen and (max-width: 1023px) {
        .show {
            display: inline-block;
        }
    }
</style>

<div class="w-full flex justify-between items-center">
    <Astrobar />
    <Hamburger />
</div>
<div class="mobileMenu">
    <DropDownMenu  />
</div>