<table class="w-full mt-4 text-left min-w-max bg-green-300">
  <thead>
    <tr>
      <td
        class="px-4 py-2 transition-colors cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50"
      >
        <p
          class="flex items-center justify-between gap-2 font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70"
        >
          Limit
        </p>
      </td>
      <td
        class="px-4 py-2 transition-colors cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50"
      >
        <p
          class="flex items-center justify-between gap-2 font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70"
        >
          Amount
        </p>
      </td>
      <td
        class="px-4 py-2 transition-colors cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50"
      >
        <p
          class="flex items-center justify-between gap-2 font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70"
        >
          Filled
        </p>
      </td>
    </tr>
  </thead>
  <tbody id="tbodyBuy" class="text-green-700"> </tbody>
</table>
