<table class="w-full text-left min-w-max bg-green-300 rounded-md">
  <thead>
    <tr>
      <td
        class="px-4 py-2 transition-colors cursor-pointer border-y border-blue-gray-100 bg-[#EF5831] hover:bg-blue-gray-50"
      >
        <p
          class="items-center justify-between gap-2 text-white text-sm antialiased font-semibold leading-4 font-montserrat"
        >
          Limit
        </p>
      </td>
      <td
        class="px-4 py-2 transition-colors cursor-pointer border-y border-blue-gray-100 bg-[#EF5831] hover:bg-blue-gray-50"
      >
        <p
          class="items-center justify-between gap-2 text-white text-sm antialiased font-semibold leading-4 font-montserrat"
        >
          Amount
        </p>
      </td>
      <td
        class="px-4 py-2 transition-colors cursor-pointer border-y border-blue-gray-100 bg-[#EF5831] hover:bg-blue-gray-50"
      >
        <p
          class="items-center justify-between gap-2 text-white text-sm antialiased font-semibold leading-4 font-montserrat"
        >
          Filled
        </p>
      </td>
    </tr>
  </thead>
  <tbody id="tbodyBuy" class="text-green-700"> </tbody>
</table>
