---
---
<style>

.ChainContributorsGrid{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;

}
p{
    font-weight: 200;
    font-style: bold;
    padding-left: .5rem;
}
ul{
    padding: .5rem;
    display: flex;
}
h1{
    padding: .5rem;
    font-size: 2.3rem;
}
.contributors{
    flex-wrap: wrap;
    font-weight: 250;
    font-style: italic;
    padding-top: 2rem;
    display: flex;
}
.youcanhelp{
    max-width: 21rem;
    font-size: .8rem;
}
p{
    margin-left: 2rem;
}
</style>


<div class="ChainContributorsGrid">

<section>
    <h1>Chain Specs</h1>
    <ul>COIN UNIT:<p>1 WART</p></ul>
    <ul>BLOCK TIME:<p>20 SECONDS</p></ul>
    <ul>REWARD:<p>3 WART</p></ul>
    <ul>PRECISION:<p>.00000001 WART (8 digits)</p></ul>
    <ul>HALVING:<p>~ EVERY 2 YEARS</p></ul>
    <ul>SUPPLY:<p>18921599.68464 (~19M) </p></ul>
    <ul>WART DIF. ADJUSTMENT:<p>EVERY 8640 BLOCKS (2 days)</p></ul>
</section>
<section >
    <h1>
        Contributors
    </h1>
    <div class="contributors">
    <div >
    <ul>Pumbaa, Rafiki (and formerly Timon)</ul>
    <ul>CoinFuMasterShifu</ul>
    <ul>Polaire</ul>
    <ul>Luk</ul>
</div>
<div >
    <ul>M0sh1M0sh1y</ul>
    <ul>Andrew</ul>
    <ul>YOU CAN HELP!</ul>
    <p class="youcanhelp">This is an open source project and everyone  is encouraged to contribute. 
        You could help for example with C++ coding on the 
        core project, web design, marketing and other tasks. 
        Please contact us on Discord!</p>
</div>
</div>
</section>


</div>