---
import Discord from '../BalkyImages/footerimgs/Discord Logos.svg';
import Telegram from '../BalkyImages/footerimgs/telegram-1.png';
import Twitter from '../BalkyImages/footerimgs/twitter.svg';
import Github from '../BalkyImages/footerimgs/github.svg';
---

<div class="text-center sm:text-left mt-4 pt-5 bg-[radial-gradient(circle_at_24.1%_68.8%,_rgb(22,_22,_22)_0%,_rgb(0,_0,_0)_99.4%)] text-white">
  <section class="inline-flex md:text-base sm:text-sm text-2xl items-center flex-col sm:flex-row">
    <img class="w-52" src="/Images/Warthog_2024_Full Logo.svg" alt="Warthog Logo" />
    <a href="/get-started" class="px-2">Get started</a>
    <a href="/news" class="px-2">News</a>
    <a href="https://docs.warthog.network/" target="_blank" class="px-2">Tech-stuff</a>
    <a href="/Whitepaper" class="px-2">WHITEPAPER</a>
    <a href="/faqs" class="px-2">FAQs</a>
    <a href="https://wartscan.io/" target="_blank" class="px-2">Explorer</a>
  </section>
  <section class="px-20">
  <p class="border-dotted border-b-2 mb-7 mt-3 max-w-[40rem]"></p>
  </section>
  <div class="mx-10 mb-10">
    <p class="my-3">Join our community!</p>
    <div class="inline-flex items-center socials justify-start ">
      <a href="https://discord.com/invite/QMDV8bGTdQ" class="mx-3"><img src={Discord.src} alt="Discord" /></a>
      <a href="https://t.me/warthognetwork" class="mx-3"><img src={Telegram.src} alt="Telegram" /></a>
      <a href="https://github.com/warthog-network" class="mx-3"><img src={Github.src} alt="GitHub" /></a>
      <a href="https://x.com/warthognetwork" class="mx-3"><img src={Twitter.src} alt="Twitter" /></a>
    </div>
  </div>
    <p class="text-[0.6rem] mx-2 mt-5 pb-5 text-slate-200">Copyright © Warthog 2025 Website Design by Losthymns TheFunVampire Logo by BalkyBot.</p>
</div>
