---
---

<style>
.hamburger {
  cursor: pointer;
  padding: .5rem;
}
.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #352e2e;
}

@media screen and (min-width: 1024px) {
 
 /*hamburger*/
 .hamburger {
   display: none;
 }
}
</style>
<div class="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
</div>