---
import Dunes from '../BalkyImages/dunes.svg'
import DunesMobile from '../BalkyImages/dune-colorful-abstract-digital-art-4k-wallpaper-uhdpaper.com-192@1@n 1.png'
---

<style>


.article-link {
  width: 293px;
  height: 28px;
  background: #F0F0EF;
  border-radius: 13px;
  padding-left: 10px;
}

.article-link .bold {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  color: black;
}

.article-link .thin {
  margin-left: .5rem;
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 10px;
  font-weight: 300;
  color: gray;
}

.hero-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: 
  'hero-text hero-img';
}
.hero-grid-text {
  max-width: 25rem;
  grid-area: hero-text;
}
.hero-text-title-bold {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  font-size: 3.3rem;
  line-height: 53px;
  color: #1E1E1E;
}
.hero-text-title {
  font-family: 'Montserrat';
  font-size: 3rem;
  line-height: 53px;
  color: #1E1E1E;
}
.hero-text-paragraph {
  font-family: 'Montserrat';
  font-size: 20px;
  line-height: 27px;
  color: #1E1E1E;
}
.hero-grid-img {
  max-width: 50rem;
  justify-self: end;
  grid-area: hero-img;
}
.hero-img-btn {
  position: absolute;
  bottom: 1rem;
  right: 1.2rem;
  background-color: gold;
  color: rgb(0, 0, 0);
  font-size: 16px;
  padding: 15px 50px;
  border: none; 
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 10px 17px 10px -10px;
}
.dunes2{
  display: none;
}
 
@media (max-width: 1248px) {
  .hero-img-btn {
    position: absolute;
    bottom: 1rem;
    right: 1.2rem;
    background-color: gold;
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 15px 50px;
    border: none; 
    cursor: pointer;
    border-radius: 5px;
  }
  .dunes2{
    padding: .5rem;
    margin-top: 2rem;
    border-radius: 2rem;
  display: flex;
}
  .heroCutoutNew {
display: none;
  }
}


@media screen and (max-width: 1024px){
  .heroCutoutNew {
    margin-top: 1rem;
    padding: 1rem;
  }

  .hero-grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-areas: 
    'hero-text' 
    'hero-img';
  }
  .hero-img-btn {
    position: absolute;
    bottom: 30%;
    right: 25%;
    background-color: gold;
    color: rgb(0, 0, 0);
    font-size: 16px;
    width: 13rem;
    padding: 10px 40px;
    border: none; 
    cursor: pointer;
    border-radius: 5px;
  }

};
  

@media (max-width: 850px) {
  .hero-grid-img img {
    border-radius: 10px;
  }
  

  .hero-img-btn {
    position: absolute;
    bottom: 30%;
    right: 20%;
    background-color: gold;
    color: rgb(0, 0, 0);
    font-size: 16px;
    width: 13rem;
    padding: 10px 40px;
    border: none; 
    cursor: pointer;
    border-radius: 5px;
  }

 

}

.hero-grid-img {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-self: end;
    grid-area: hero-img;
  }

@media (max-width:433px) {
  .hero-grid-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: hero-img;
  }
  
  .hero-grid-img img {
    width: 100%;            /* Make sure the image scales properly */
                            /* Maintain aspect ratio */
  }
  
  .hero-img-btn {
   position: absolute;
    bottom: 30%;
    right: 20%;
    background-color: gold;
    color: rgb(0, 0, 0);
    font-size: 16px;
    width: 13rem;
    padding: 10px 40px;
    border: none; 
    cursor: pointer;
    border-radius: 5px;
  }
}

</style>


<div class="hero-grid pt-4">
    <div class="hero-grid-text pl-2">
        {/**<div class="article-link">
            <span class="bold">How our tech is better?</span><span class="thin">Read our article</span>
        </div> */}
        <div class="pt-2">
          <div>dev</div>
            <div class="hero-text-title-bold">Rethinking</div> 
            <div class="hero-text-title">The Blockchain</div>
        </div>
        <p class="hero-text-paragraph">
        Warthog's decentralized network empowers individuals with fair, balanced, and synergized CPU/GPU work. 
        It secures hardcoded DeFi and token technologies, 
        eliminating the risks of smart contracts. Our goal is a safer, more efficient blockchain, 
        aligned with the original vision of cryptocurrency: "one CPU, one vote."
        </p>
    </div>
 
    <div class="hero-grid-img">
       <img class="heroCutoutNew" src ={Dunes.src}  />  
       <img class="dunes2" src={DunesMobile.src}/>  
      <a href='/#wheretobuy' class="hero-img-btn">where to buy</a>
    </div>
   

  </div>