---
import ContentDiv from "../components/ContentDiv.jsx";
---

<style>
    .h12{ 
        font-size:1.3rem;
        font-weight: 800;
        font-style: bold;
    }
    li{
        font-size: .8rem;
    }
    .road{
        flex: 1 0 ;
        flex-shrink: 0;
        flex-grow: 1;
        padding-top: 0;
        max-height: 100%;
        object-fit: scale-down;
        margin-bottom: 1rem;
        max-width: 100%;
    }
    .blanket{
        padding-left: 12rem;
        padding-right: 12rem;
        align-items: center;
        justify-content: center;
        background: radial-gradient(
            circle at 24.1% 68.8%,
            rgb(50, 50, 50) 0%,
            rgb(0, 0, 0) 99.4%
        );
           color: white;
    }
    @media (max-width:1224px){
        .blanket{
        padding-left: 2rem;
        padding-right: 2rem;
        align-items: center;
        justify-content: center;
        background: radial-gradient(
            circle at 24.1% 68.8%,
            rgb(50, 50, 50) 0%,
            rgb(0, 0, 0) 99.4%
        );
           color: white;
    }
        
    }
    @media (max-width:824px){
        .blanket{
        padding-left: 0rem;
        padding-right: 0rem;
        align-items: center;
        justify-content: center;
        background: radial-gradient(
            circle at 24.1% 68.8%,
            rgb(50, 50, 50) 0%,
            rgb(0, 0, 0) 99.4%
        );
           color: white;
    }
        
    }
    .RoadMap{
      flex-wrap: wrap;
      gap: 3rem;
      padding: .1rem;
      justify-content: space-around;
      color: white;
    }
    .sectionline{
        border-bottom: dotted;
        margin-left: 5rem;
        margin-right: 5rem;
    }
    section{
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;
    }
li{
    padding: .35rem;
    max-width: 20rem;
    min-width: 15rem;
}
.title{
    font-size: 3rem;
    padding: 1rem;
}
</style>

<div class="blanket">
<ContentDiv>
  <h2  class="text-5xl py-3">Roadmap</h2>
  <h2  class="text-s underline"><a href="https://docs.warthog.network/roadmap/" target="_blank">See completed milestones »</a></h2>
  <div class="RoadMap">
    <section class="road">
      <div>
        <h3 class = "mt-3 text-lg font-semibold">Q1 2025</h3>
        <li>
          Research Sandwich-Proof DeFi
        </li>
        <li>
          Write scientific paper about Sandwich-Proof DeFi 
        </li>
        <li>
          List Warthog on Coinmarketcap aggregator
        </li>
        <li>Add nice UI for Browser Nodes</li>
      </div>
      <div>
        <h3 class = "mt-3 text-lg font-semibold">Q2 2025</h3>
        <li>Add infrastructure for Browser Nodes</li>
        <li>Add documentation for Browser Nodes</li>
        <li>Implement light-weight DeFi</li>
        <li>Enable token support in testnet</li>
        <li>Enable Liquidity Farming in testnet</li>
        <li>Enable Sandwich-Proof DeFi in testnet</li>
      </div>
      <div>
        <h3 class = "mt-3 text-lg font-semibold">Q3 2025</h3>
        <li>Enable P2P Browser Node communication using WebRTC</li>
        <li>Add token support in mainnet</li>
        <li>Add "Copy Balance" feature for newly created tokens in Testnet</li>
      </div>
      <div>
        <h3 class = "mt-3 text-lg font-semibold">Q4 2025</h3>
        <li>Add Dividend payout feature for tokens</li>
      </div>
      <div>
        <h3 class = "mt-3 text-lg font-semibold">2026</h3>
        <li>Research on atomic swaps and assess feasibility of implementation in Warthog</li>
      </div>
    </section>
  </div>
</ContentDiv>
</div>
