---
import Planet from '../BalkyImages/upcomingFeatureimgs/Icon.svg'
import Screen from '../BalkyImages/upcomingFeatureimgs/Icon (1).svg'
import Burger from '../BalkyImages/upcomingFeatureimgs/Icon (2).svg'
import ContentDiv from "../components/ContentDiv.jsx";
---

<style>
    .center{
        justify-content: center;
        align-items: center;
    }
    .one{
        max-width: 70rem;
        margin-left: 3rem;
  
    }
    .onediv{
        opacity: 50%;
        height: 1rem;
        margin-left: 3rem;
        margin-top: .1rem;
        max-width: 70rem;
        border-left-width: .1rem ;
        border-right-width: .1rem ;
        border-bottom-width: .1rem ;
border-style: solid;
border-bottom-left-radius: .5rem;
border-bottom-right-radius: .5rem;
    }
    .two{
        margin-left: 6rem;
        max-width: 70rem;
    }
    .twodiv{
        opacity: 50%;
        height: 1rem;
        margin-left: 6rem;
        margin-top: .1rem;
        max-width: 70rem;
        border-left-width: .1rem ;
        border-right-width: .1rem ;
        border-bottom-width: .1rem ;
border-style: solid;
border-bottom-left-radius: .5rem;
border-bottom-right-radius: .5rem;
    }
   
    .three{margin-left: 9rem;
        max-width: 70rem; }
        .threediv{
            opacity: 50%;
            border-bottom-left-radius: .5rem;
            border-bottom-right-radius: .5rem;
        height: 1rem;
        margin-left: 9rem;
        margin-top: .1rem;
        max-width: 70rem;
        border-left-width: .1rem ;
        border-right-width: .1rem ;
        border-bottom-width: .1rem ;
border-style: solid;
    }
    img{
        padding: 1rem;
    }
    section{
        border-radius: .4rem;
        margin-top: 2rem;
      
        border-style: solid;
        border-width: .1rem;
        padding: 1rem;
    }
   .upcoming{
    justify-content: center;
  align-items: center;
    padding: 3rem;
    padding-left: 12rem;
    background: radial-gradient(
            circle at 24.1% 68.8%,
            rgb(50, 50, 50) 0%,
            rgb(0, 0, 0) 99.4%
        );
        justify-content: center;
    color: white;
}
 
 h1{
    font-size: 5rem;
 }
 @media screen and (max-width: 824px){
    section{
        
        display: block;
        grid-template-columns: 1fn;
      
    }
    .upcoming{
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background: radial-gradient(
            circle at 24.1% 68.8%,
            rgb(50, 50, 50) 0%,
            rgb(0, 0, 0) 99.4%
        );
   
    color: white;
}
    .two{
        margin-left: 3rem;
        max-width: 70rem;
    }
    .twodiv{
        opacity: 50%;
        height: 1rem;
        margin-left: 3rem;
        margin-top: .1rem;
        max-width: 70rem;
        border-left-width: .1rem ;
        border-right-width: .1rem ;
        border-bottom-width: .1rem ;
border-style: solid;
border-bottom-left-radius: .5rem;
border-bottom-right-radius: .5rem;
    }
    .three{
        margin-left: 3rem;
        max-width: 70rem;
    }
    .threediv{
        opacity: 50%;
        height: 1rem;
        margin-left: 3rem;
        margin-top: .1rem;
        max-width: 70rem;
        border-left-width: .1rem ;
        border-right-width: .1rem ;
        border-bottom-width: .1rem ;
border-style: solid;
border-bottom-left-radius: .5rem;
border-bottom-right-radius: .5rem;
    }
    h1{
    font-size: 2rem;
 }



 }
 @media screen and (max-width: 424px){
    p{
        font-size: .8rem;
    }
    img{
        width: 5rem;
        padding: 1rem;
    }
    section{
        display: block;
        grid-template-columns: 1fn;
        margin-top: 1rem;
       
        border-style: solid;
        border-width: .1rem;
        padding: 1rem;
    }
   .upcoming{
   
    padding: 1rem;
    background: radial-gradient(
            circle at 24.1% 68.8%,
            rgb(50, 50, 50) 0%,
            rgb(0, 0, 0) 99.4%
        );
        justify-content: center;
    color: white;
}
 
 }
 </style>
<div class="center"> 
<div class="upcoming">
    <ContentDiv>
    <p>upcoming</p>
    <h1>Revolutionary Features</h1>
    <div>
<section class="flex one">
    <img src={Planet.src}/>
    <div>
    <h2>P2P browser nodes</h2>
    <p>Using bleeding edge technology like OPFS and SQLite's recent 
        support for it, we are the world's first cryptocurrency which 
        successfully ported full nodes to the browser - including chain 
        store! Chain is not deleted when you close the browser.</p>
    </div>
   
</section>
<div class="onediv"></div>
<div class="onediv"></div>
<div class="onediv"></div>
<section  class="flex two">
    <div></div>
    <img src={Screen.src}/>
    <div>
    <h2>Hard-coded DeFi</h2>
    <p>Up to now DeFi uses smart contracts, nodes don't natively understand 
        DeFi. In contrast, we will hard-code latest DeFi wisdom into the 
        nodes leading to less vulnerabilities, less fees and more convenience 
        and protection against scam techniques like hidden trading fees or 
        supply inflation!</p>
    </div>
    </section>
    <div class="twodiv"></div>
    <div class="twodiv"></div>
    <div class="twodiv"></div>
<section class="flex three">
    <img src={Burger.src}/>
    <div>
    <h2>Solving DeFi's biggest problem</h2>
    <p>DeFi is plagued by sandwich attacks and there is no real solution 
        to it - yet. Embedding DeFi as a first-class-citizen allows us to 
        design a custom matching engine in which transaction order does 
        not play a role. This solves DeFi's sandwich problem.</p>
    </div>
    </section>
    <div class="threediv"></div>
<div class="threediv"></div>
<div class="threediv"></div>
</div>

    </ContentDiv>
</div>
</div>
