---
import { Picture } from 'astro:assets';
const articles = [
    { imgSrc: 'NEWS.png', href: 'https://github.com/warthog-network'},    
    { imgSrc: 'NEWS2.png', href: 'https://discord.com/invite/QMDV8bGTdQ'},
    { imgSrc: 'NEWS3.png', href: 'https://t.me/warthognetwork'},
  
];
import NEWS from '../BalkyImages/NEWS.png';

---
<style>
    .NEWS{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 1024px) {
    .NEWS{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }

}

</style>
<h1 class=" p-2">Whats New</h1>
<section class="NEWS">
    
 <a class="p-10" href=''>
        <p class=""><img class=''  src={NEWS.src} alt="logo" /></p>
 </a>
 <a class="p-10" href=''>
    <p class=""><img class=''  src={NEWS.src} alt="logo" /></p>
</a>

<a class="p-10" href=''>
    <p class=""><img class=''  src={NEWS.src} alt="logo" /></p>
</a>
</section>