---
---


<style>
    .NEWS{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 1024px) {
    .NEWS{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }

}

</style>
<h1 class=" p-2"><a href="/news">Where to Buy</a></h1>
<section class="NEWS">
    
 <a class="p-10" href='/news'>
        <p class=""><img class=''  src={NEWS.src} alt="logo" /></p>
 </a>
 <a class="p-10" href='/news'>
    <p class=""><img class=''  src={NEWS.src} alt="logo" /></p>
</a>

<a class="p-10" href='/news'>
    <p class=""><img class=''  src={NEWS.src} alt="logo" /></p>
</a>
</section>