---
import '../blogstyles.css';
import '../styles.css';
import BaseHead from '../components/BaseHead.astro';
const {title} = Astro.props;
// import Footer from "../components/Footer.astro";
import Footer from "../components/FooterTailwind.astro";
---

<html lang="en">
	<head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
  </head>
		
	<body>
    {/* above, make it possible to place footer at botton even if 
    content is not big enough, it is useful for embedding PDF such that the embed height is just as much that the page height is exactly fitting in view port*/}
		<BaseHead />
        <main>
            <slot />
        </main>
        
        <footer>
            <script>
                import "../scripts/menu.js";
              </script>
              <Footer/>
           
        </footer>
	</body>
</html>
