---
import '../styles.css';
import BaseHead from '../components/BaseHead.astro';
const {title} = Astro.props;
import MarketData from '../components/MarketData.astro';
import Footer from "../components/Footer.astro";

---

<html lang="en">
	
		<BaseHead title={title}/>
      
	<body>
		
	
        <main>
            <slot />
        </main>
        
        <footer>
            <script>
                import "../scripts/menu.js";
              </script>
              <Footer/>
           
        </footer>
	</body>
</html>
